@charset utf-8;
/*消除所有各种不同浏览器的不同默认边距都修改为0,*代表通配符所有类意思*/

* {
  margin: 0;
  padding: 0;
}

/*global*/

body {
  font: 14px/28px Verdana, Arial, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 1.6em;
  background: #fff url(http://ww1.sinaimg.cn/large/005GPQHggy1ftqgncq3j3g300106603c.gif) repeat-x center 25px;
  color: #444;
}

/* body,h1,h2,h3,h4,h5,h6,div,p,ul,ol,dl,dt,dd,li,td,span,a,i,em,strong,input,select,textarea,form,hr{margin:0;padding:0; font-weight:normal;} */

html {
  font-size: 14px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /*去掉点击链接和文本框对象的半透明覆盖层(iOS)或者虚框(Android):*/
  -Webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  webkit-box-sizing: border-box;
  -webkit-appearance: none;
}

/* div{overflow:hidden;} */

li {
  list-style: none;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #3ea5b3;
  text-decoration: none
}

#download {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background: #FF6793;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

/* #result span {
    height: 500px;
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
} */

/* a:active {
  text-decoration: none;
  color: #FFF;
} */

/* input,select,button{vertical-align:middle; *vertical-align:middle; font-size:100%;border:1px solid #A4C4DC;background:none;}
input[type='submit'] {outline: none;cursor: pointer;background-color: #EEE;text-transform: uppercase;transition: 0.5s all;-webkit-transition: 0.5s all;-o-transition: 0.5s all;-moz-transition: 0.5s all;-ms-transition: 0.5s all;border:1px solid #A4C4DC;padding:0px 5px;border-radius:5px;height:2rem;line-height:2rem;}
input[type='checkbox'],input[type='radio']{vertical-align:middle; margin:0 5px;}
input[type="text"],input[type="password"]{height:2rem;line-height:2rem;outline-style:none;-webkit-appearance:none;padding:0px 5px;} */

.Mb10 {
  margin-bottom: 10px;
}

.Mb20 {
  margin-bottom: 20px;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both
}

.textcenter {
  text-align: center;
}

.center {
  margin: 0px auto;
}

.border {
  border: 1px solid #d7d7d7;
}

/* #wrapper{background-color:#FFFFFF;padding-top:10px;} */

#wrapper {
  background-color: #FFFFFF;
  padding: 15px;
}

.head {
  background: url(https://zb.mofans.net/static/css/images/head.gif) 520px 10px no-repeat;
  height: 140px;
}

/* .head .sitename{font-size:32px;line-height:40px; margin-top:50px; margin-bottom:10px; color:#62C3D0;} */

.head .sitename {
  font-size: 32px;
  line-height: 40px;
  margin-top: 11px;
  margin-bottom: 10px;
  color: #62C3D0;
}

nav li {
  display: inline-block;
  padding: 0px 5px;
}

nav li a {
  color: #FFF;
  font-size: 16px;
}

.alert, .place {
  border: 1px solid #ebccd1;
  border-radius: 4px;
  padding: 5px 20px;
}

/* .Tool-box-pic{width:840px; margin:30px auto; } */

.Tool-box-pic {
  width: 100%;
  margin: 30px auto;
}

/* .Tool-box-pic .Tool-left-form {float:left;width:300px;min-height:450px;line-height:2rem; overflow:hidden;margin-bottom: 20px;} */

.Tool-box-pic .Tool-left-form {
  float: left;
  width: 100%;
  min-height: auto;
  line-height: 2rem;
  overflow: hidden;
  margin-bottom: 20px;
}

.Tool-box-pic .Tool-left-form .hd h1 {
  font-size: 24px;
}

.Tool-box-pic .Tool-left-form .hd span {
  font-size: 16px;
  margin-bottom: 10px;
  color: #888;
}

.Tool-box-pic .Tool-left-form .TextForm label {
  border-top: 1px solid #E7E7E7;
  display: block;
  padding: 10px 0px;
}

/* .Tool-box-pic .Tool-left-form .TextForm label span{display:inline-block;width:65px;} */

/* .Tool-box-pic .Tool-left-form .TextForm label input{border:none;}
.Tool-box-pic .Tool-left-form .TextForm label input.btn{width:100%;text-align:center;line-height:30px;height:32px;color:#FFF;background-color:#ccc;}
.Tool-box-pic .Tool-left-form .TextForm label input.btn:hover{background-color:#18B4ED; color:#FFF;} */

/* .MakePic,.DefaultPic{width:100%; max-width:500px;} */

.DefaultPic {
  width: auto;
  max-width: 100%;
  margin: 20px 0px;
}

/* .help{border-top: solid 1px #d7d7d7;height:120px;padding:40px 0px;clear:both;} */

.help {
  border-top: solid 1px #d7d7d7;
  height: auto;
  padding: 20px 10px;
  clear: both;
}

.help .QRcode {
  float: right;
  width: auto;
}

.help .QRcode img {
  float: left;
  border: solid 1px #d7d7d7;
}

.help .tips img {
  float: left;
  margin-right: 20px;
}

.help .tips h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.help .tips .share {
  margin-top: 12px;
}

.breadcrumb a:hover {
  color: #3ea5b3;
  text-decoration: none;
}

.clearfix a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#top {
  line-height: 23px;
  height: 23px;
  background-image: url(//ww1.sinaimg.cn/large/005GPQHggy1ftf2rofr8fj30m80m8wed.jpg);
  background-position: 0 -122px;
  padding-right: 7px;
  padding-left: 7px;
  overflow: hidden;
}

/* tag的css */

.tag-links a {
  color: #fff;
  background: #999;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.tag-links a:hover {
  background: #666;
}

.tips p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* tag的css */

/* 颜色选择器 */

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}

/* 颜色选择器 */

/* footer */

#bottom {
  background: #333;
  color: #777;
  font-size: 12px;
  text-align: center;
  line-height: 2;
  padding: 1em 0;
}

#bottom a {
  color: #777;
  margin-left: .5em;
  word-break: keep-all;
}

/* nav li a:hover {
    color: #FFF;
    font-size: 16px;
    text-decoration: none;!important
} */

/* footer */

/* 外面那层阴影 */

/* .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
} */

/* bootstrap重写 */

.alert-primary {
  color: #737373;
  background-color: #f6f6f6;
  border-color: #dee2e6;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0rem 0rem;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #FFFFFF;
  border-radius: .25rem;
}

ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

/* bootstrap重写 */

/* 头部隐藏多余空间 */

.head {
  overflow: hidden;
}

/* 头部隐藏多余空间 */

/* 自己的css */

.gray {
  background-color: #444444 !important;
}

.cleardiv {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/* 默认loading的图片 */
/* #load-img .inner {
  background-image: url("http://ww1.sinaimg.cn/large/005GPQHggy1fu86scpdvcg306q046glk.gif");
  background-position: center;
  background-repeat: no-repeat;
} */

/* 自己的css */

/* con的css */

/* #my-img：hover {
    content：url（"http://ww1.sinaimg.cn/large/005GPQHggy1fu86scpdvcg306q046glk.gif");
} */



/* .conout {
  width:100%;
      height:50px;
}

.conin {
  width:100%;
   height:25px;
   background-color:black;
   margin:0 auto;
}

#parent {width:200px;
    height:200px;
    background-color:red;}
#child {
  width:100px;
   height:100px;
   background-color:black;
   margin:0 auto;
} */

/* con的css */

/* index的css */

.list-view.styles .item {
  height: 224px;
}

.list-view .item {
  margin-bottom: 30px;
}

.item-wrap {
  position: relative;
  text-align: center;
  padding: .4em;
  border: 1px solid #ddd;
}

.item-wrap a.link {
  display: block;
  color: #555;
  text-decoration: none;
}

.item-wrap .image {
  width: 100%;
  height: 160px;
  display: table;
}

.item-wrap .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.item-wrap .image img {
  max-width: 100%;
  max-height: 160px;
}

.item-wrap h4 {
  font-size: 16px;
  font-weight: 400;
  height: 18px;
  margin: .5em 0 .2em;
  overflow: hidden;
}

.item-wrap p {
  font-size: 12px;
  height: 18px;
  overflow: hidden;
  color: #aaa;
  margin-bottom: .4em;
}

.item .card:hover {
  -moz-box-shadow: 0 0 6px #d7d7d7;
  -webkit-box-shadow: 0 0 6px #d7d7d7;
  box-shadow: 0 0 6px #d7d7d7;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d6dce1;
  background-color: #fff;
}

.home-content [class*="col-"] {
  padding-right: 15px;
  padding-left: 0px;
}

.list-view {
  padding-left: 15px;
  margin-right: -25px;
}

/* 底部的友情链接css */
.link_top {
  background-repeat: repeat-x;
  background-position: 0 -48px;
  clear: both;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d6dce1;
  -moz-box-shadow: 0 0 10px #dde2e6;
  -webkit-box-shadow: 0 0 10px #dde2e6;
  box-shadow: 0 0 10px #dde2e6;
  padding: .55rem 1.25rem;
}

/* index的css */
