
  /*  css初始化重制
  button::-moz-focus-inner,

input[type="reset"]::-moz-focus-inner,

input[type="button"]::-moz-focus-inner,

input[type="submit"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner {

border: none;

}*/

  /*  css初始化重制*/

  /* 我自己添加的css */

  .img-auto{
  height:auto;
  width:100%;
  }


  /* 我自己添加的css */




/* 原本css的覆盖写入 */

  .mian_top {
      background-image: url(/);
      /*
      background-image: url(https://f.109876543210.com/all_bg.png);
      */
      background-repeat: repeat-x;
      background-position: 0px -48px;
      clear: both;
      -moz-border-radius: 6px 6px 0px 0px;
      -webkit-border-radius: 6px 6px 0px 0px;
      border-radius: 6px 6px 0px 0px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #D6DCE1;
      -moz-box-shadow: 0 0 10px #DDE2E6;
      -webkit-box-shadow: 0 0 10px #DDE2E6;
      box-shadow: 0 0 10px #DDE2E6;
    padding: 0.55rem 1.25rem;
  }

  .mian_top a {
  color:#555555;
  font-size: 16px;
  text-decoration:none;
  font-weight: bold;
  }

  .mian {
    margin-right: auto;
    margin-left: auto;
    -moz-box-shadow: 0 0 6px #d7d7d7;
    -webkit-box-shadow: 0 0 6px #d7d7d7;
    box-shadow: 0 0 6px #d7d7d7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d6dce1;
    background-color: #FFF;
  }






  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
  }

  .kuang {
    margin-right: auto;
    margin-left: auto;
    -moz-box-shadow: 0 0 6px #d7d7d7;
    -webkit-box-shadow: 0 0 6px #d7d7d7;
    box-shadow: 0 0 6px #d7d7d7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d6dce1;
    background-color: #FFF;


  }

  .kuang .kuang_title {
      clear: both;
      overflow: hidden;
      line-height: 25px;
      height: 25px;
      background-image: url(//);
      background-repeat: repeat-x;
      background-position: 0 -162px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.125);
      padding-right: 8px;
      padding-left: 8px;
  }
  .sy_ico a:hover {
      background-color: rgba(0, 0, 0, 0.125);
      text-decoration: none;
      color: #333;
  }


  #top_logo #top_logo_img {
      float: left;
      width: auto;
      height: 74px;
      margin-top: 12px;
      margin-left: 10px;
      padding: 0;
      display: block;
      overflow: hidden;
  }


  .list-group-item.active {
      z-index: 2;
      color: #fff;
      border-color: rgba(0, 0, 0, 0.125);
  }

  .list-group-item:first-child {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
  }

  .list-group-item {
      position: relative;
      display: block;
      padding: 0.30rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .list-group-item-action {
      text-align: inherit;
  }



  #shuo_ming_bei_zhu p {

      background-image: url(//f.109876543210.com/fenge_bg.png);

      background-repeat: repeat-x;
      line-height: 48px;
      font-weight: bold;
      margin: 0px;
      font-size: 20px;
      overflow: hidden;
      display: block;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      letter-spacing: 1px;
      font-size:16px;
      color:#555555;
    }

p:first-letter {
     padding-left: 0px;
}






  @media screen and (max-width: 800px)  {

     .nry_bt .nry_bt_text {
    margin-left: 10px;
    font-family: "\u9ed1\u4f53";
    color: #333;
    font-size: 36px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    overflow: hidden;
}

  }

  #main_shouye_anniu a{
    font-size: 14px;
  }

    /* 原本css的覆盖写入 */


  /* 背景和图标的css */
  body {
      margin: 0;
      background-color: #f8f8f8;
      background-position: 0 25px;
      background-image: url(//);
      background-repeat: repeat-x;
  }

@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(/Static/js/HI_EiYEVKqRMq3jGQ5Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.textcontainer span{
font-family: 'Lemon';
}
/* 背景和图标的css */



/* bootstrap扣出来的css */

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover{
background-color: green;
color: #fff;
}

.ml-2, .mx-2 {
    margin-left: .5rem!important;
}

.ml-3, .mx-3 {
    margin-left: 1rem!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

  .form-control {
      display: inline;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-primary {
      color: #fff;
      background-color: #27a2fc;
      border-color: #27a2fc;
  }
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* bootstrap扣出来的css */



/* logo的css特效 */
body .textcontainer {
    padding: 40px 0;
    text-align: center;
  }
  body .particletext {
    text-align: center;
    font-size: 48px;
    position: relative;
  }
  body .particletext.bubbles > .particle {
    opacity: 0;
    position: absolute;
    background-color: rgba(33, 150, 243, 0.5);
    -webkit-animation: bubbles 3s ease-in infinite;
            animation: bubbles 3s ease-in infinite;
    border-radius: 100%;
  }
  body .particletext.hearts > .particle {
    opacity: 0;
    position: absolute;
    background-color: #cc2a5d;
    -webkit-animation: hearts 3s ease-in infinite;
            animation: hearts 3s ease-in infinite;
  }
  body .particletext.hearts > .particle:before, body .particletext.hearts > .particle:after {
    position: absolute;
    content: '';
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #cc2a5d;
  }
  body .particletext.hearts > .particle:before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body .particletext.hearts > .particle:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  body .particletext.lines > .particle {
    position: absolute;
    background-color: rgba(244, 67, 54, 0.5);
    -webkit-animation: lines 3s linear infinite;
            animation: lines 3s linear infinite;
  }
  body .particletext.confetti > .particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: confetti 3s ease-in infinite;
            animation: confetti 3s ease-in infinite;
  }
  body .particletext.confetti > .particle.c1 {
    background-color: rgba(76, 175, 80, 0.5);
  }
  body .particletext.confetti > .particle.c2 {
    background-color: rgba(156, 39, 176, 0.5);
  }
  body .particletext.fire > .particle {
    position: absolute;
    background-color: rgba(255, 193, 7, 0.5);
    border-radius: 40px;
    border-top-right-radius: 0px;
    -webkit-animation: fires 0.8s linear infinite;
            animation: fires 0.8s linear infinite;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  body .particletext.fire > .particle:before {
    position: absolute;
    content: '';
    top: 60%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 40px;
    border-top-right-radius: 0px;
    background-color: rgba(251, 140, 0, 0.5);
  }
  body .particletext.sunbeams > .particle {
    position: absolute;
    background-color: rgba(253, 216, 53, 0.5);
    -webkit-animation: sunbeams 3s linear infinite;
            animation: sunbeams 3s linear infinite;
  }

  @-webkit-keyframes bubbles {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      -webkit-transform: translate(0, -20%);
              transform: translate(0, -20%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, -1000%);
              transform: translate(0, -1000%);
    }
  }

  @keyframes bubbles {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      -webkit-transform: translate(0, -20%);
              transform: translate(0, -20%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, -1000%);
              transform: translate(0, -1000%);
    }
  }
  @-webkit-keyframes hearts {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, 0%) rotate(45deg);
              transform: translate(0, 0%) rotate(45deg);
    }
    20% {
      opacity: 0.8;
      -webkit-transform: translate(0, -20%) rotate(45deg);
              transform: translate(0, -20%) rotate(45deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, -1000%) rotate(45deg);
              transform: translate(0, -1000%) rotate(45deg);
    }
  }
  @keyframes hearts {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, 0%) rotate(45deg);
              transform: translate(0, 0%) rotate(45deg);
    }
    20% {
      opacity: 0.8;
      -webkit-transform: translate(0, -20%) rotate(45deg);
              transform: translate(0, -20%) rotate(45deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, -1000%) rotate(45deg);
              transform: translate(0, -1000%) rotate(45deg);
    }
  }
  @-webkit-keyframes lines {
    0%, 50%, 100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    25% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    75% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @keyframes lines {
    0%, 50%, 100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    25% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    75% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @-webkit-keyframes confetti {
    0% {
      opacity: 0;
      -webkit-transform: translateY(0%) rotate(0deg);
              transform: translateY(0%) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    35% {
      -webkit-transform: translateY(-800%) rotate(270deg);
              transform: translateY(-800%) rotate(270deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2000%) rotate(1440deg);
              transform: translateY(2000%) rotate(1440deg);
    }
  }
  @keyframes confetti {
    0% {
      opacity: 0;
      -webkit-transform: translateY(0%) rotate(0deg);
              transform: translateY(0%) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    35% {
      -webkit-transform: translateY(-800%) rotate(270deg);
              transform: translateY(-800%) rotate(270deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2000%) rotate(1440deg);
              transform: translateY(2000%) rotate(1440deg);
    }
  }
  @-webkit-keyframes fires {
    0% {
      -webkit-transform: rotate(-70deg) translateY(0%);
              transform: rotate(-70deg) translateY(0%);
    }
    25% {
      -webkit-transform: rotate(-20deg) translateY(-5%);
              transform: rotate(-20deg) translateY(-5%);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(-70deg) translateY(-10%);
              transform: rotate(-70deg) translateY(-10%);
    }
    75% {
      -webkit-transform: rotate(-20deg) translateY(-20%);
              transform: rotate(-20deg) translateY(-20%);
    }
    100% {
      -webkit-transform: rotate(-70deg) translateY(-40%);
              transform: rotate(-70deg) translateY(-40%);
      opacity: 1;
    }
  }
  @keyframes fires {
    0% {
      -webkit-transform: rotate(-70deg) translateY(0%);
              transform: rotate(-70deg) translateY(0%);
    }
    25% {
      -webkit-transform: rotate(-20deg) translateY(-5%);
              transform: rotate(-20deg) translateY(-5%);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(-70deg) translateY(-10%);
              transform: rotate(-70deg) translateY(-10%);
    }
    75% {
      -webkit-transform: rotate(-20deg) translateY(-20%);
              transform: rotate(-20deg) translateY(-20%);
    }
    100% {
      -webkit-transform: rotate(-70deg) translateY(-40%);
              transform: rotate(-70deg) translateY(-40%);
      opacity: 1;
    }
  }
  @-webkit-keyframes sunbeams {
    0% {
      -webkit-transform: translateY(40%) rotate(0deg);
              transform: translateY(40%) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-40%) rotate(180deg);
              transform: translateY(-40%) rotate(180deg);
    }
    100% {
      -webkit-transform: translateY(40%) rotate(360deg);
              transform: translateY(40%) rotate(360deg);
    }
    0%,14%,17%,43%,53%,71%,80%,94%,100% {
      opacity: 0;
    }
    6%,15%,24%,28%,48%,55%,78%,82%,99% {
      opacity: 1;
    }
  }
  @keyframes sunbeams {
    0% {
      -webkit-transform: translateY(40%) rotate(0deg);
              transform: translateY(40%) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-40%) rotate(180deg);
              transform: translateY(-40%) rotate(180deg);
    }
    100% {
      -webkit-transform: translateY(40%) rotate(360deg);
              transform: translateY(40%) rotate(360deg);
    }
    0%,14%,17%,43%,53%,71%,80%,94%,100% {
      opacity: 0;
    }
    6%,15%,24%,28%,48%,55%,78%,82%,99% {
      opacity: 1;
    }
  }
