
/* style那些  */
a{color:inherit;text-decoration:none}*{box-sizing:border-box}.menu{position:relative;display:block;cursor:pointer}.menu-title{display:block;padding:12px 0 0;width:142px;height:40px;background:#9dc852;color:#fff;text-align:center;text-transform:uppercase;font-weight:700;transition:.3s background-color}.menu-title:before{position:absolute;top:100%;left:0;z-index:101;display:block;height:0;border-top:5px solid #9dc852;border-right:75px solid transparent;border-bottom:0 solid #ddd;border-left:69px solid transparent;content:"";transition:.2s .2s border-top ease-out,.3s border-top-color}.menu-title:hover{background:#8db842}.menu-title:hover:before{border-top-color:#8db842}.menu:hover>.menu-title:before{transition:.2s border-top-width ease-in,.3s border-top-color;border-top-width:0}.menu-title:after{position:absolute;bottom:0;left:0;z-index:101;display:block;height:0;border-right:75px solid transparent;border-bottom:0 solid #ebebeb;border-left:75px solid transparent;content:"";transition:.2s border-bottom ease-in}.menu:hover>.menu-title:after{transition:.2s .2s border-bottom-width ease-out;border-bottom-width:5px}.menu-title_2nd{background:#4e96b3}.menu-title_2nd:hover{background:#3e86a3}.menu-title_2nd:before{border-top-color:#4e96b3}.menu-title_2nd:hover:before{border-top-color:#3e86a3}.menu-title_3rd{background:#c97676}.menu-title_3rd:hover{background:#b96666}.menu-title_3rd:before{border-top-color:#c97676}.menu-title_3rd:hover:before{border-top-color:#b96666}.menu-title_4th{background:#dbab58}.menu-title_4th:hover{background:#cb9b48}.menu-title_4th:before{border-top-color:#dbab58}.menu-title_4th:hover:before{border-top-color:#cb9b48}.menu-title_5th{background:#db7093}.menu-title_5th:hover{background:#db7093}.menu-title_5th:before{border-top-color:#db7093}.menu-title_5th:hover:before{border-top-color:#db7093}.menu-title_6th{background:#8968cd}.menu-title_6th:hover{background:#8968cd}.menu-title_6th:before{border-top-color:#8968cd}.menu-title_6th:hover:before{border-top-color:#8968cd}.menu-title_7th{background:#EE9A49}.menu-title_7th:hover{background:#EE9A49}.menu-title_7th:before{border-top-color:#EE9A49}.menu-title_7th:hover:before{border-top-color:#EE9A49}.menu-dropdown{position:absolute;z-index:100;padding:15px 0;min-width:100%;background:#ebebeb;transition:.5s padding,.5s background}.menu-dropdown:after{position:absolute;top:100%;left:0;z-index:101;display:block;height:0;border-top:5px solid #ebebeb;border-right:75px solid transparent;border-left:75px solid transparent;content:"";transition:.5s border-top}.menu:not(:hover)>.menu-dropdown{z-index:99;padding:4px 0;background:#ddd}.menu:not(:hover)>.menu-dropdown:after{border-top-color:#ddd}.menu:not(:hover)>.menu-title:after{border-bottom-color:#ddd}.menu-dropdown>*{overflow:hidden;padding:5px 10px;height:30px;background:0 0;white-space:nowrap;transition:.5s height cubic-bezier(.73,.32,.34,1.5),.5s padding cubic-bezier(.73,.32,.34,1.5),.5s margin cubic-bezier(.73,.32,.34,1.5),.5s .2s color,.2s background-color}.menu-dropdown>:hover{background:rgba(0,0,0,.1)}.menu:not(:hover)>.menu-dropdown>*{z-index:99;visibility:hidden;margin:0;padding-top:0;padding-bottom:0;height:0;color:rgba(25,25,25,0);transition:.5s .1s height,.5s .1s padding,.5s .1s margin,.3s color,.6s visibility}.hList>*{float:left}.hList>*+*{margin-left:0}
/* style那些  */


/* 彩色那个条  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* 彩色那个条  */


/* style那些  */
body{background:#f4f4f4}body,h1,h2,h3,input,li,p,ul{font-family:PingFangSC-Light,'STHeiti Light','helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif}.aside-allCategory{position:absolute;top:0;left:50%;display:inline-block;margin-left:-500px}.zhiye{position:relative;width:1000px;margin:60px auto 0}.zhiye h2{line-height:60px;height:60px;text-align:left;font-size:18px;color:#333}.zhiye>a{position:absolute;top:0;right:0;display:inline-block;width:100px;height:60px;font-size:12px;color:#333;text-align:right;line-height:52px;padding-top:8px}.zhiye>a:hover{color:#35b558}.zhiye ul{font-size:0}.zhiye ul li{position:relative;vertical-align:middle;display:inline-block;margin-right:10px;padding-top:15px;text-align:center;height:150px;width:192px;background:#fff;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-o-transition:all .2s ease}.zhiye ul li:before{display:inline-block;width:23px;height:11px;content:'';position:absolute;top:6px;left:6px;background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft69i54qtoj301a00m05s.jpg);background-size:23px 11px}.zhiye ul li .card{display:block}.zhiye ul li:nth-child(5n){margin-right:0}.zhiye ul li:nth-child(n+6){margin-top:10px}.zhiye ul li h3{margin-top:10px;font-size:12px;color:#333}.zhiye ul li.status:hover{box-shadow:0 3px 6px rgba(0,0,0,.2)}.zhiye ul li img{height:96px}.vip{position:relative;width:1000px;margin:10px auto 0}.vip h2{line-height:60px;height:60px;text-align:left;font-size:18px;color:#333}.vip>a{position:absolute;top:0;right:0;display:inline-block;width:100px;height:60px;font-size:12px;color:#333;text-align:right;line-height:52px;padding-top:8px}.vip>a:hover{color:#35b558}.vip ul{font-size:0}.vip ul li{vertical-align:middle;display:inline-block;margin-right:10px;text-align:center;height:130px;width:134px;background:#fff;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-o-transition:all .2s ease}.vip ul li:hover{box-shadow:0 3px 6px rgba(0,0,0,.2)}.vip ul li a{display:block;height:100%;text-align:center}.vip ul li a img{display:inline-block;height:50px;margin-top:15px}.vip ul li a h3{font-size:12px;color:#555;height:30px;line-height:30px}.vip ul li a span{display:block;font-size:12px;color:#35b558}.jk-partner{position:relative;width:1000px;margin:10px auto 50px}.jk-partner h2{line-height:60px;height:60px;text-align:left;font-size:18px;color:#333}.jk-partner>a{position:absolute;top:0;right:0;display:inline-block;width:80px;height:60px;font-size:12px;color:#333;text-align:right;line-height:52px;padding-top:8px}.jk-partner>a:hover{color:#35b558}.jk-partner ul{width:100%;height:100px}.jk-partner ul li{float:left;width:134px;height:45px;background:#fff;margin-right:10px;transition:box-shadow .2s ease;-moz-transition:box-shadow .2s ease;-webkit-transition:box-shadow .2s ease;-o-transition:box-shadow .2s ease}.jk-partner ul li:hover{box-shadow:0 3px 6px rgba(0,0,0,.2)}.jk-partner ul li a{display:block;height:100%}.jk-partner ul li a img{max-width:100%}.jk-uptodate{position:relative;width:1000px;margin:10px auto 0}.jk-uptodate h2{line-height:60px;height:60px;text-align:left;font-size:18px;color:#333}.jk-uptodate ul{font-size:0}.jk-uptodate .uptodate{display:inline-block;vertical-align:top;width:235px;height:240px;background:#fff;margin-right:20px}.jk-uptodate .uptodate:nth-child(4n){margin-right:0}.jk-uptodate .uptodate>a{display:block;width:100%;height:100%}.jk-uptodate .uptodate-img{display:block;height:157px}.jk-uptodate .uptodate-title{padding:10px 15px 0;font-size:13px;color:#333;line-height:18px;height:46px;margin-bottom:4px;overflow:hidden;text-align:justify}.jk-uptodate .uptodate-info{font-size:12px;line-height:22px;height:22px;overflow:hidden;color:#999;padding-left:15px;text-align:justify}.jk-uptodate .uptodate-info span{margin:0 6px}
/* style那些  */


/* 自己css  */
/*每个iclass item的灰色阴影*/
.item ul li {
  border: 1px solid #CCC;
  background-image: -webkit-linear-gradient(top, #FFF, #F9F9F9);
  position: static;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

#header {
  position: relative;
  width: 1000px;
}
/* 自己css  */

/* 头部  */
*{padding:0;margin:0;box-sizing:border-box;}#jk-header a,#jk-header a:link,#jk-header a:visited{color:#555555;text-decoration:none;font-size:15px;}#jk-header a:hover,#jk-header nav li:hover{color:#35b558;}#jk-header{background:#fff;height:70px;line-height:70px;border-bottom:1px solid #e4e4e4;}#jk-header h1{display:inline;}#jk-header .header{width:1000px;margin:0 auto;}#jk-header .logo{width:100px;height:37px;margin-top:10px;float:left;margin-right:45px;}#jk-header .logo img{display:block;}#jk-header nav{display:inline-block;float:left;}#jk-header nav li{color:#555;list-style:none;line-height:69px;padding-right:32px;text-decoration:none;font-size:15px;float:left;cursor:pointer;position:relative;}#jk-header nav li:hover .slide-submeu{display:block;}#jk-header nav li i.slide-icon{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;-o-transition:All 0.4s ease-in-out;}#jk-header nav li:hover i.slide-icon{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}#jk-header nav li i.slide-icon{background:url(//e.jikexueyuan.com/headerandfooter/images/icon.png);background-position:0px -47px;display:inline-block;width:11px;margin-left:5px;height:7px;}#jk-header .nav-other{float:right;width:130px;height:70px;}#jk-header .centerbox{display:inline-block;width:30px;height:30px;margin-right:15px;margin-top:20px;}#jk-header .centerbox:nth-child(2){margin-right:0px;}#jk-header .centerbox:hover{background:#fafafa;border-radius:5px;}#jk-header .search{border:1px solid #e4e4e4;height:32px;width:230px;display:inline-block;float:left;margin-top:20px;transition:all .3s;}#jk-header .search input{float:left;width:190px;height:30px;border:none;padding:0px 8px;border-right:1px solid #e4e4e4;outline:none;font-size:12px;}#jk-header .search .search-result{display:none;width:230px;margin-left:-1px;margin-top:31px;border:1px solid #e4e4e4;background-color:#fff;list-style:none;box-shadow:-1px 3px 5px rgba(000,000,000,0.3);}#jk-header .search-icon{width:18px;height:18px;float:right;margin-top:6px;margin-right:10px;display:inline-block;background:url(//e.jikexueyuan.com/headerandfooter/images/icon.png) 0 0 no-repeat;background-position:0 0;cursor:pointer;}#jk-header .message{cursor:pointer;width:15px;height:18px;display:block;position:relative;margin:7px 0px 0 8px;background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft8dnslk5oj303801nmx1.jpg) 0 0 no-repeat;background-position:-26px 0;}#jk-header .message .have{position:absolute;top:-5px;right:-2px;z-index:700;width:6px;height:6px;background:#ff7263;border-radius:50%;}#jk-header .userinfo-notlogin{display:inline-block;float:right;font-size:14px}#jk-header .userinfo-notlogin a{font-size:14px;float:left;}#jk-header .userinfo-notlogin i{border-left:1px solid #ccc;height:15px;display:inline-block;float:left;overflow:hidden;margin-top:27px;}#jk-header .userinfo-notlogin a{padding:0px 15px;float:left;}#jk-header .userinfo-notlogin a:nth-child(3){padding-right:0;}#jk-header .slide-submeu{position:absolute;left:0;top:69px;z-index:1000;width:200px;padding:5px 0;background:#fff;border-top:1px solid #E4E4E4;box-shadow:-1px 3px 5px rgba(000,000,000,0.3);display:none;}#jk-header .slide-submeu a{display:block;font-size:12px;line-height:35px;padding:0px 15px;}#jk-header .slide-submeu a:nth-child(2n){background:#FAFAFA;}#jk-header .learn-center{background:url(//e.jikexueyuan.com/headerandfooter/images/center-icon.png) no-repeat 0 0;width:16px;height:16px;margin:8px 0 0 8px;display:block;}#jk-header::-webkit-input-placeholder{color:#b9b9b9;}#jk-header:-moz-placeholder{color:#b9b9b9;}#jk-header::-moz-placeholder{color:#b9b9b9;}#jk-header:-ms-input-placeholder{color:#b9b9b9;}#jk-header .qy-box i{display:inline-block;float:left;width:14px;height:14px;margin-top:8px;margin-right:5px;background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft8dol3tdtj302e00fgld.jpg) no-repeat;}#jk-header .qy-box i.wr-icon{background-position:-35px 0;margin-top:11px;}#jk-header .qy-box i.aws-icon{background-position:-20px 0;margin-top:9px;}#jk-header .qy-box i.txy-icon{background-position:0px 0;width:20px;margin-left:-2px;margin-top:10px;}#jk-header .qy-box i.baidu-icon{background-position:-72px 0;margin-top:10px;}
/* 头部  */


/* 底部  */

* {
 padding:0;
 margin:0}
#footer {
 margin-top:70px;
 position:relative;
 font-size:12px;
 background:#fff;
 box-sizing:border-box;
 padding-bottom:20px;
 border-top:1px solid #e4e4e4}
#footer .footer-content {
 width:1000px;
 margin:0 auto;
 text-align:center}
#footer .contact-way {
 box-sizing:border-box;
 width:240px;
 z-index:100;
 background:#fff;
 margin:20px auto}
#footer .contact-way {
 text-align:center}

#footer nav {
 border-bottom:1px solid #f0f0f0;
 padding:0 0 20px 0}
#footer nav a {
 padding:4px 10px;
 color:#666;
 text-decoration:none}
#footer nav a:hover {
 color:#35b558}
#footer nav i {
 color:#E4E4E4;
 font-style:normal}
#footer .copyright {
 color:#999;
 padding:10px 0}
#footer .other-way a {
 background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft8g33afv9j303f00l0sj.jpg) 0 0 no-repeat;
 display:inline-block;
 width:22px;
 height:18px;
 margin-right:20px}
#footer .other-way a:last-child {
 margin-right:0}
#footer .other-way a.weixin-icon {
 background-position:-28px 0}
#footer .other-way a.sina-icon {
 background-position:0 0}
#footer .other-way a.facebook-icon {
 background-position:-104px 0}
#footer .other-way a.google-icon {
 background-position:-80px 0}
#footer .gotop {
 position:fixed;
 left:50%;
 margin-left:515px;
 top:450px;
 width:40px;
 text-align:center;
 z-index:2000}
#footer .gotop span {
 display:block;
 width:40px;
 height:40px;
 margin-bottom:1px}
#footer .top i {
 display:block;
 width:40px;
 height:40px;
 background:#fff url(//ww1.sinaimg.cn/large/005GPQHggy1ft8g2l42z2j300h00k0a1.jpg) 11px 10px no-repeat}
#footer .top i:hover {
 background:#fafafa url(//ww1.sinaimg.cn/large/005GPQHggy1ft8g25g5eyj300h00k0a0.jpg) 11px 10px no-repeat}
#footer .wx {
 position:relative;
 background:#fff url(//ww1.sinaimg.cn/large/005GPQHggy1ft2aw73yw9j300i00k0if.jpg) 12px 10px no-repeat}
#footer .wx:hover {
 background:#fafafa url(//ww1.sinaimg.cn/large/005GPQHggy1fsupeyueadj303f00l0sj.jpg) 12px 10px no-repeat}
#footer .wx:hover .appewm {
 display:block}
#footer .tel-icon {
 position:relative;
 background:#fff url(//ww1.sinaimg.cn/large/005GPQHggy1ft8g1pc69oj300g00i0fj.jpg) 12px 10px no-repeat}
#footer .tel-icon:hover {
 background:#fafafa url(//ww1.sinaimg.cn/large/005GPQHggy1ft8g1en6zvj300g00i0fg.jpg) 12px 10px no-repeat}
#footer .tel-icon:hover .tel-number {
 display:block}
#footer .tel-icon .tel-number {
 background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft8fq4np1vj304d01t0sm.jpg) center center no-repeat;
 background-size:100%;
 width:157px;
 height:89px;
 position:absolute;
 z-index:2100;
 left:-155px;
 top:-4px;
 display:none}
#footer .appewm {
 background:url(//ww1.sinaimg.cn/large/005GPQHggy1ft8fdpdm32j304e04e74c.jpg) center center no-repeat;
 background-size:100%;
 width:158px;
 height:178px;
 position:absolute;
 z-index:2100;
 left:-156px;
 top:-87px;
 display:none}

/* 底部  */
